@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    /* list-style: none; */
}

#header{
    color: #FFFF;
    padding: 40px 200px;
    width: 100%;
    position: relative;
    /* background-color: #005AAC; */
    display: flex;
    justify-content: space-between;
}