.carouselfoto{
    object-fit: cover;
    height: 80vh;
    width: 20vw ;
}

#section2-row{
margin: 150px;
}

#section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://images.pexels.com/photos/20967/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1600');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}

#header-course{
    color: #FFFF;
    padding: 40px 200px;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: space-evenly;
}

#lpimage{
    object-fit: cover;
    
     width: calc(100vw/3);
}

#editCard{
    margin-bottom: 150px;
    padding-bottom: 100px;
}
#cardimg{
    object-fit: cover;
    height: 240px;
    width: 400px ;
}

#imgdummy{
    object-fit: cover;
    height: 700;
    width: 70vw ;
}


#testerregis{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;

}

#testerregis2{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;

}

#judullogin{
    font-size: 35px;
}

#carouselfoto{

    object-fit: cover;
    height: 50vh;
    width: 70%;
    border-radius: 35px;
    padding: 0;
    
}

.carclas{
    margin-bottom: 120px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    padding: 0;
}

/* .carouselfotologin{
object-fit: cover;
height: 70vh;
width: 80%;
} */
#i{
    padding:0px;
    margin: 0;
}

#input1{
    padding-right: 200px;
   
}

#editprofile{
    width: 100%;
    height: 100vh;
    align-items: center;
}


#typeText{

padding-right: 15vw;
padding-bottom: 1vh;

    
}
#containereditprofile{
margin: 50px 0 50px 0;
padding: 10px 0 140px 0;
background-image: url('') ;

}


.inputuser{
    margin: 40px 0 40px 0;
}
#texteditor{
    height: 80vh;
    
}

#daerahdummy{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://images.pexels.com/photos/2480626/pexels-photo-2480626.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}